.tab-wrapper {
  min-height: 600px;
  padding: 1rem;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: auto;
}
.form-item {
  flex: 1 1 250px;
  padding: 0 1rem;
}
.form-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.hidden {
  visibility: hidden;
  display: none;
}