<mat-tab-group class="mat-elevation-z4">
  <mat-tab label="Connection settings">
    <div class="tab-wrapper">
        <client-connection></client-connection>

    </div>
  </mat-tab>
  <mat-tab label="Address and contact information">
    <div class="tab-wrapper">
      <client-contact></client-contact>
    </div>
  </mat-tab>
  <mat-tab label="Notes">
    <div class="tab-wrapper"></div>
  </mat-tab>
  <mat-tab label="Auths">
    <div class="tab-wrapper">
    </div>
  </mat-tab>
  <mat-tab label="Sessions">
    <div class="tab-wrapper">

    </div>
  </mat-tab>
</mat-tab-group>

