<div class="mat-elevation-z8" style="position: relative;">
  <table-header filterLabel="Filter access points" (filterValue)="filterTable($event)" [saveDisabled]="!tableUpdated"
  (onReset)="reset()"></table-header>
  <mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row" [satPopoverAnchor]="p" (click)="p.open()" matRipple>
          <ng-container>
              {{row.name}}
            </ng-container>
            <sat-popover #p
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="$event ? row.name = $event : false">
              <inline-edit [value]="row.name" length="65"></inline-edit>
            </sat-popover>
      </mat-cell>
    </ng-container>
    <!-- ip Column -->
    <ng-container matColumnDef="ip">
      <mat-header-cell *matHeaderCellDef mat-sort-header>IP address</mat-header-cell>
      <mat-cell *matCellDef="let row" [satPopoverAnchor]="popover" (click)="popover.open()" matRipple>
          <ng-container>
              {{row.ip}}
            </ng-container>
            <sat-popover #popover
                hasBackdrop
                xAlign="start"
                yAlign="start"
                (closed)="$event ? row.ip = $event : false">
              <inline-edit [value]="row.ip" length="15" (valueChange)="update($event)"></inline-edit>
            </sat-popover>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250, 500]">
  </mat-paginator>
</div>
