.header-row {
  margin: 0 1rem;
  padding: 1rem;
  height: 75px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.right {
  display: flex;
  align-content: center;
  align-self: center;
}

button[hidden] {
  display: none;
}